// FORMS

/* change password page */
.value-container {
    height: 80%;
    text-align: center;
}

h1 {
    margin-bottom: 140px;
    color: #fff0e7;
}

input[type="submit" i] {
    -webkit-appearance: none;
    border-radius: 30px;
}
/* end change password page */