/* Settings Styles */
.settings {
    color: #fff0e7;
    font-size: 30px;
    list-style-type: none;
    margin: 20px;
    padding: 10px 53px;
    transition: .3s;
}

.settings:hover {
    color: #6ef5c1F3;
    transition: .3s;
}

li {
    padding-inline-start: 0px;
}