body {
    margin: 0;
}

.navbar {
    display: flex;
    background-color: #fff0e7;
}

#top-nav {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-around;
}

#top-nav .nav-item {
    margin-right: auto;
    margin-left: 20px;
}

#top-nav .nav-item:nth-child(2) {
    margin-left: -51.5px;
}

#logo img {
    justify-content: center;
    padding: 0 40px 0 33px;
    width: 75px;
}

main {
    display:flex;
    width: 100%;
    height: 100vh;
    background-color: #8b8078;
    
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100vw;
    margin-top: 85px;
    margin-bottom: 70px;
}

#bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: space-around;
    padding: 10px 0;
}

/* change password page */
.value-container {
    height: 80%;
    text-align: center;
}

h1 {
    margin-bottom: 140px;
    color: #fff0e7;
}

input[type="submit" i] {
    -webkit-appearance: none;
    border-radius: 30px;
}
/* end change password page */
